* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 .body-wrap {
  background: url(../images/back_img.svg);
  background-repeat: no-repeat;
  background-position: left 0% top -5%;
  background-size: cover;
}
.site-logo {
  height: 30px;
  margin-left: 40px;
}
.nav--toggle-btn {
  border: none;
}
.nav--toggle-btn:focus  {
  outline: none;
}
.item-nav {
  color: #000;
  font-size: 18px;
}
.header__main {
  padding-left: 50px !important;
}
.header--title {
  font-size: 6rem;
  font-weight: 900;
  color: #EC5451;
}
.header--subtitle {
  font-size: 3rem;
  font-weight: 900;
  color: #EC5451;
  width: 395px;
  line-height: 72px;
}
.header--para {
  font-size: 23px;
  line-height: 34px;
  width: 385px;
}
.header--img {
  max-height: 750px;
  min-height: 653px;
}
.workings {
  margin: 232px auto;
}
.workings--title {
  font-size: 4.5rem;
  font-weight: 900;
  color: #EC5451;
}
.workings--desc-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #EC5451;
}
.workings--desc-para {
  font-size: 23px;
}
.gallery--img-contain-2 {
  position: relative;
  top: 100px
}
.gallery--img-mobile {
  display: none;
}
.review--wrap {
  margin-top: 200px;
}
.review__head {
  border-bottom: 2px solid #FFE508;
}
.review__head--score {
  font-size: 2.5rem;
  color: #EC5451;
  font-weight: 700;
}
.review__head--down {
  font-size: 18px;
}
.testimonial--title {
  font-size: 2.5rem;
  color: #EC5451;
  font-weight: 900;
  text-align: center;
}
.testimonial--card {
  background-color: #F6F6F6;
  margin: 0 40px;
  width: 400px;
}
.testimonial--img {
  width: 165px;
  margin: auto;
}
.testimonial--client {
  font-size: 18px;
}
.testimonial--star {
  content: url(../images/Star_2.svg);
}
.testimonial--star-empty {
  content: url(../images/Star_5.svg);
}
.testimonial--star-fade {
  content: url(../images/Star_10.svg);
}
.testimonial--carousel-mobile {
  display: none;
}
.app-footer {
  background-color: #F6F6F6;
}
.footer-groups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-link {
  color: rgba(43, 28, 19, 0.65)
}
.footer--title {
  color: #FFE508;
}