* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  
  @-webkit-keyframes backInDown {
    0% {
      -webkit-transform: translateY(-1200px) scale(0.7);
      transform: translateY(-1200px) scale(0.7);
      opacity: 0.7;
    }
    80% {
      -webkit-transform: translateY(0px) scale(0.7);
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes backInDown {
    0% {
      -webkit-transform: translateY(-1200px) scale(0.7);
      transform: translateY(-1200px) scale(0.7);
      opacity: 0.7;
    }
    80% {
      -webkit-transform: translateY(0px) scale(0.7);
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .jumbotron-content {
    -webkit-animation: backInDown 1s;
            animation: backInDown 1s;
  }
  
  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .jumbotron-img {
    opacity: 0;
    -webkit-animation: fadeInRight 1s 1s forwards;
            animation: fadeInRight 1s 1s forwards;
  }
  
  .nav-logo {
    font-family: 'Catamaran', sans-serif;
    color: #F63541 !important;
    font-size: 30px;
    font-weight: 500;
  }
  
  .navbar-css {
    background-color: #fff !important;
  }
  
  .nav-item-css {
    margin-right: 2rem;
  }
  
  .nav-link-css {
    font-weight: 500;
    color: #333 !important;
    border-radius: 5px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
  
  .nav-link-css:hover {
    color: #F63541 !important;
  }
  
  .btn-css {
    background: #F63541;
    border-radius: 5px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border: 1px solid #F63541;
  }
  
  .btn-css:hover {
    background: #fff;
    color: #F63541 !important;
  }
  
  .jumbotron-bg-color {
    margin-top: 60px;
    background: rgba(218, 218, 218, 0.1);
    border-radius: 0;
  }
  
  .jumbotron-btn {
    font-size: 22px;
    background-color: #F63541 !important;
    font-weight: 500;
    -webkit-transition: all .5s;
    transition: all .5s;
    color: #fff;
  }
  
  .jumbotron-btn:hover {
    color: #F63541;
    background-color: #fff !important;
  }
  
  .features {
    margin: 60px 0;
  }
  
  .feature-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .feature-card {
    margin: 20px;
    padding: 15px;
    height: 320px;
    width: 250px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
  
  .feature-card:nth-child(:last-of-type) {
    margin-right: 0;
  }
  
  .feature-card:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 9px 11px 5px -4px rgba(0, 0, 0, 0.75);
            box-shadow: 9px 11px 5px -4px rgba(0, 0, 0, 0.75);
  }
  
  .feature-card-body {
    padding: .2rem;
  }
  
  .feature-icon {
    width: 80px;
    height: 80px;
  }
  
  .text-bold {
    font-weight: 500;
  }
  
  .feature-text {
    margin-bottom: 0;
  }
  
  .reviews {
    padding: 0 120px;
    margin-bottom: 60px;
  }
  
  .review-card {
    background: rgba(218, 218, 218, 0.3);
    border-radius: 12px;
    padding: 10px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  .review-text {
    font-size: 14px;
  }
  
  .download-bg {
    background-color: rgba(218, 218, 218, 0.3);
    border-radius: 0;
    color: #333 !important;
  }
  
  .download-text {
    font-size: 14px;
    font-weight: 500;
  }
  
  .download-btn {
    height: 65px;
    width: 200px;
    background-color: #fff !important;
    border-radius: 6px;
    margin: 10px;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  
  .download-btn:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  .contact {
    margin: 60px 0;
  }
  
  .contact-btn {
    color: #fff !important;
    background: #F63541;
    width: 120px;
    font-weight: 500;
    border: 1px solid #F63541;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
  
  .contact-btn:hover {
    color: #F63541 !important;
    background-color: #fff;
  }
  
  .contact-icon {
    color: #F63541;
  }
  
  .newsletter {
    margin-bottom: 60px;
  }
  
  .newsletter-input {
    width: 280px;
    height: 50px;
    margin-right: 20px;
    padding: 2px 5px;
  }
  
  .newsletter-btn {
    width: 180px;
    border: 1px solid #F63541;
    background-color: #F63541;
    color: #fff;
    font-weight: 500;
  }
  
  .newsletter-btn:hover {
    color: #F63541 !important;
    background-color: #fff;
  }
  
  .footer {
    background: #F63541;
    border-radius: 0;
    margin-bottom: 0;
  }
  
  .footer-nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .footer-item {
    margin: 0 20px;
  }
  
  .footer-nav-link {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-nav-link:hover {
    color: #333;
    text-decoration: none;
  }
  
  .footer-icon-link {
    margin: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .footer-icon-link:hover {
    color: #333;
  }
  
  .footer-icon {
    font-size: 23px;
  }
  
  @media only screen and (max-width: 1200px) {
    .feature-card {
      height: 320px;
      width: 250px;
    }
    .review-card {
      max-width: 320px;
      max-height: 250px;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .jumbotron-header {
      font-size: 45px;
    }
    .jumbotron-btn {
      font-size: 20px !important;
    }
    .feature-card {
      height: 290px;
      width: 220px;
    }
    .feature-icon {
      width: 70px;
      height: 70px;
    }
    .feature-text {
      font-size: 14px;
    }
    .review-card {
      width: 240px;
      max-height: 250px;
    }
    .review-card-body {
      padding-left: 0;
      padding-right: 0;
    }
    .review1 {
      margin-bottom: 30px;
    }
    .download-bg {
      padding: 70px 120px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .nav-logo {
      font-size: 25px;
    }
    .jumbotron-header {
      font-size: 35px;
    }
    .jumbotron-text {
      font-size: 16px;
    }
    .feature-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .feature-card {
      max-height: 260px;
      max-width: 190px;
    }
    .feature-icon {
      max-width: 50px;
      max-height: 50px;
    }
    .feature-text {
      font-size: 12px;
    }
    REVIEW
  .review-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .review1, .review2, .review3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .review2 {
      margin-bottom: 30px;
    }
    .download-bg {
      padding: 40px 80px;
    }
    .download-btn {
      height: 55px;
      width: 160px;
      border-radius: 6px;
      margin: 8px;
    }
    .footer-item {
      margin: 0 10px;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .jumbotron-btn {
      font-size: 16px !important;
    }
    .jumbotron-content {
      -webkit-box-align: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
    }
    .jumbotron-text {
      text-align: center;
    }
    .jumbotron-img {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 40px;
    }
    .header-img {
      width: 125px;
      height: 231px;
    }
    .feature-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .features {
      margin: 30px 0;
    }
    .reviews {
      margin-bottom: 30px;
    }
    .download-block {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
    }
    .download-img {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 40px;
    }
    .download-bg {
      padding: 40px 60px;
    }
    .download-btn {
      height: 55px;
      width: 140px;
    }
    .download-text {
      font-size: 10px;
    }
    .contact {
      padding: 0 20px;
      font-size: 14px;
      margin: 30px 0;
    }
    .contact-btn {
      width: 80px;
      height: 40px;
      padding: 0;
      font-size: 16px;
    }
    .contact-mobile {
      display: none;
    }
    .newsletter {
      font-size: 14px;
      margin-top: 60px;
    }
    .subscribe-text {
      font-size: 20px;
    }
    .newsletter-input {
      width: 180px;
      height: 45px;
      margin-right: 15px;
      padding: 1px 2px;
    }
    .newsletter-btn {
      width: 105px;
      padding: 0;
    }
    .footer {
      font-size: 14px;
    }
  }
  