
/* ================================================= 
   Base Elements Styles
==================================================== */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* Navigation styles */

.navbar-header
{
    display:block;
    background-color: #1d0230;
}

.nav-list {
    background-color:#1d0230;
}

.signup {
    border: 3px solid #f3558e;
    border-radius: 1rem;
}

.login {
    background-color:#f3558e;
    border-radius: 1rem;
}

/* Main Body Styles */

.heading {
    text-align: center;
}

.brief {
    background-color: #daabfc;
    color: #1d0230;
}

.features {
    color: #f5f5f5;
    background-color: #1d0230;
    background-origin: border-box;
}

.download {
    background-color: #daabfc;
    padding-bottom: 0.5rem;
}

.foot {
    color: white;
    background-color: #1d0230;
}

/* ================================= 
  Content Styles
==================================== */

/*Image Styles*/

.brainy {
    position: relative;
    top: 3em;
    width: 9.375rem;
}

.mobile1 {
    width: 7.5rem;
    height: 15.725rem;
    z-index: 1;
    position: relative;
    top: 0em;
    animation-name: mobile-1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes mobile-1 {
    from {right: 2em;}
    to {right: -2em;}
}

.mobile2 {
    width: 7.5rem;
    height: 15.625rem;
    position: relative;
    top: 3em;
    animation-name: mobile-2;
    animation-duration: 8s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes mobile-2 {
    0% {right: 2em}
    50% {right: -2em;}
    100% {right: 2em;}
}

.appfeat-img1 {
    width: 6.8rem;
    position: relative;
    top: -1rem;
    right: -6rem;
}

.appfeat-img2 {
    width: 6.8rem;
    position: relative;
    top: 2rem;
    right: -4rem;
}

.feat-img {
    width: 6.75rem;
}

.download-img {
    width: 16.875rem;
}

.download-link img {
    width: 10.625rem;
}

.review-img {
    width: 11.25rem;
}

/*Typography Styles*/

.wrapper {
    font-family: 'Poppins', sans-serif;
}

main {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.heading h3 {
    color: #1d0230;
    text-align: center;
    position: relative;
    top: 1em;
    font-weight: bold;
    font-size: 1.75rem;
}

.brief h4{
    font-weight: bold;
}
.carousel h4,
.brief,
.reviews h4 {
    color: #1d0230;
    text-align: center;
}

.features h4 {
    padding: 0.8rem 0.5rem;
    font-weight: bold;
}

.features h5{
    font-size: 0.875rem;
}

.features p{
    font-size: 0.5rem;
}

h4 {
    text-align: center;
    font-size: 1.37rem;
    font-weight: bold;
}

.download-link p {
    color: #1d0230;
    font-size: 0.875rem;
    margin: 10px 10px 50px;
}

.foot p{
    font-size: 0.75rem;
}

blockquote {
    color: #1d0230;
    font-size: 0.875rem;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}

/*Icons, Forms and Input Styles*/

blockquote:before {
    font-family: Georgia, serif;
    color: #f3558e;
    position: relative;
    font-size: 3.5em;
    line-height: 1;
    top: -0.1em;
    left: -0.5em;
    content: "\201C";
}

blockquote:after {
    font-family: Georgia, serif;
    color: #f3558e;
    position: relative;
    float:right;
    font-size: 3.5em;
    line-height: 1;
    right: 0.9em;
    bottom: -0.6em;
    content: "\201D";
}

.icon-left {
    padding: 20px 15px;
    font-size: 1rem;
    color: e5e5e5;
    background-color: #f3558e;
    border-radius: 6px 0px 0px 6px;
    opacity: 1;
    position: relative;
    top: 0em;
    right: 0.7em;
}

.icon-right {
    padding: 20px 15px;
    font-size: 1rem;
    color: #e5e5e5;
    background-color: #f3558e;
    border-radius: 0px 6px 6px 0px;
    opacity: 1;
    position: relative;
    top: 0em;
    right: -0.7em;
}

.email-text {
    display: inline-block; 
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    width: 70%;
    font-size: .675rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px 0 0 20px;
}

.email-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    color: #fff;
    background-color: #f3558e;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .675rem;
    line-height: 1.5;
    border-radius: 0 20px 20px 0;
}

.email {
    padding: auto 0;
}

.foot a {
    text-decoration: none;
    color: #FFFFFF;
}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .mobile1 {
        top: 0.5rem;
    }
    
    .mobile2 {
        top: 3.5rem;
    }
    
    .heading h3 {
        top: 2.8rem;
    }

    .brainy {
        top: 4.75em;
        width: 9.75rem;
    }

    .appfeat-img1 {
        width: 7.8rem;
        top: -1rem;
        right: -9rem;
    }
    
    .appfeat-img2 {
        width: 7.8rem;
        top: 2rem;
        right: -7rem;
    }

    .features h5{
        font-size: 0.925rem;
    }
    
    .features p{
        font-size: 0.65rem;
    }
    
    blockquote:after {
        right: 2.25em;
    }

    .foot .email-form {
        width: 30rem;
        margin: 0 auto;
        position: static;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    h4 {
        font-size: 2.5rem;
    }

    .heading p {
        font-size: 1rem;
    }

    .appfeat-img1 {
        width: 9.25rem;
        top: -1rem;
        right: -13rem;
    }
    
    .appfeat-img2 {
        width: 9.25rem;
        top: 3rem;
        right: -11rem;
    }

    .features h5{
        font-size: 1.125rem;
    }
    
    .features p{
        font-size: 0.85rem;
    }
    
    .download-link img {
        width: 15.5rem;
    }

    .download-img {
        width: 20rem;
        height: 23.25rem;
    }

    .download-link p {
        text-align: justify;
        width: 23rem;
        font-size: 1.25rem;
    }

    .reviews h4 {
        font-size: 2.5rem;
    }

    .icon-left {
        right: 2.5rem;
    }
    
    .icon-right {
        right: -2.5rem;
    }
    

    blockquote {
        font-size: 1rem;
        margin: 0.5em;
    }

    blockquote:after {
        right: 4em;
    }
    
    .foot h5 {
        font-size: 1.45rem;
        font-weight: bold;
    }

    .foot p {
        font-size: 1.25rem;
    }

    .foot a {
        font-size: 1.25rem;
    }

    .foot .email-form {
        right: -3rem;
    }

    .emial-form h5 {
        text-align: center;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .main-nav {
       background-color: #1d0230;
    }

    .main-nav ul li {
       padding: 20px 5px 10px;
    }

    .login {
        background: transparent;
        border: 3px solid #f3558e;
        border-radius: 0.625rem;
        margin-right: 5rem;
    }
   
    .mobile1 {
        width: 20.56rem;
        height: 46rem;
        z-index: 0;
        top: 2rem;
        right: -10rem;
        animation: none;
    }
    
    .mobile2 {
        width: 20.56rem;
        height: 46rem;
        top: 6.5rem;
        right: -6.5rem;
        animation: none;
    }

    .brainy {
        position: relative;
        right: 20rem;
        width: 17rem;
        animation-name: brainyy;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }

    @keyframes brainyy {
        0% {top: -45rem;}
        50% {top: -58rem;}
        100% {top: -45rem;}
    }

    .heading h3 {
        font-size: 3.4rem;
        position: relative;
        top: -18rem;
        right: 20rem;
    }

    .heading {
        height: 62rem;   
    }

    .brief {
        position: relative;
    }

    .brief h4 {
        font-size: 2.5rem;
        padding-bottom: 1.875rem;
    }

    .brief p {
        font-size: 1.5rem;
    }

    .features {
        max-height: 52rem;
    }

    .features h4 {
        font-size: 2.5rem;
    }

    .appfeat-img1 {
        width: 19rem;
        top: -1rem;
        right: -2rem;
    }
    
    .appfeat-img2 {
        width: 19rem;
        top: -37rem;
        right: -12rem;
    }

    .feat-list {
        flex-wrap: wrap;
        width: 36rem;
        position: relative;
        right: -2rem;
    }

    .feat {
        display: inline-flex;
    }

    .feat-img {
        width: 10rem;
    }

    .features h5{
        font-size: 1.5rem;
    }
    
    .features p{
        font-size: 0.9rem;
    }
    
    .download h4 {
        font-size: 2.5rem;
    }

    .download-img {
        width: 24rem;
        height: 31.625rem;
        padding-top: 3rem;
        margin-right: 4rem;
    }

    .download-link p {
        text-align: justify;
        width: 30rem;
        font-size: 1.25rem;
    }

    .download-link img {
        width: 22rem;
        height: 7rem;
    }

    .reviews {
        box-sizing: border-box;
        padding: 30px 0px 70px;
    }

    .reviews .row {
        margin: 1.875rem;
    }

    .reviews h4 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .review-img {
        width: 12rem;
    }

    .review-col {
        border-right: 1px solid black;
    }

    blockquote {
        font-size: 16px;
        width: 15rem;
    }

    blockquote:after {
        right: -0.2em;
        bottom: -0.6em;
    }

    .foot-signup,
    .foot ul,
    .foot h5,
    .foot h4 {
        text-align: justify;
    }
    
    .foot h5{
        font-size: 1.175rem;
        font-weight: bold;
    }

    .foot p {
        font-size: 0.85rem;
    }

    .foot a {
        font-size: 0.85rem;
    }

    .foot .email-form {
        right: 1rem;
    }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .mobile1 {
        width: 23.75rem;
        top: 2rem;
        right: -16rem;
        z-index: 0;
    }
    
    .mobile2 {
        width: 23.75rem;
        top: 8rem;
        right: -13rem;
    }

    .brainy {
        position: relative;
        top: -45rem;
        right: 26rem;
        width: 21.25rem;
    }

    .heading h3 {
        top: -12rem;
        right: 26rem;
    }

    .appfeat-img2 {
        width: 19rem;
        top: -37rem;
        right: -17rem;
    }

    .download img {
        width: 30.75rem;
        margin-right: 7.25rem;
    }

    .download-link p {
        width: 35rem;
        font-size: 1.55rem;
    }

    .download-link img {
        width: 25rem;
    }
}