*{
    scroll-behavior: smooth;
    /* border: solid 1px red; */
}

body{
    scroll-behavior: smooth;
    background-color: white;
    color: #003460;
}
/* NAVBAR STARTS  */
.nav-item{
    transition: ease all 0.3s;
}
.nav-item:hover{
    transform: scale(1.1);
    border-bottom: solid 2px #003460;
    font-weight: bold;
}
.navbar{
    background-color: white!important;
}
.navbar a{
    color: #003460!important;
    font-size: 20px;
}
.nav-logo{
    max-width: 70%;
}
.edu-buy-btn{
    padding: 8px 45px!important;
    border-radius: 8px;
    color: white;
    background-color: #003460;
}
.header-background{
    background-color: #bcf9ff;
    height: 85vh;
}
.header-row{
    background-image: url(../images/edu-bg.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100% 60%;
    
}
.header-col{
    margin-top: 15%!important;
}
.header-col button{
    margin-top: 5%!important;
}
.desktop-features{
    display: none!important;
}

#edu-header-buy-btn{
    transition: ease all 0.3s;
}
#edu-header-buy-btn:hover{
    transform: scale(1.1);
    color: #003460;
    background-color: white;
    border: none;
}
/* FEATURES START  */
.feature-item{
    transition: ease-in-out all 0.3s;

}
.feature-item:hover{
    transform: scale(1.2);

}
/* FEATURES END  */

/* NAVBAR ENDS  */

/* REVIEWS SECTION STARTS */
.review-image{
    display:none!important;
    animation: bounce  2s;
    animation-iteration-count: infinite;
}
/* REVIEWS SECTION ENDS */
/* DOWNLOAD SECTION STARTS  */
.download-background{
    background-color: #bcf9ff;

}
.download-background img{
    max-width: 100%;
    transition: ease all 0.2s;

}
.image-1{
    margin-left: -2%;
}
.image-1, .image-2{
    transition: ease all 0.2s;
}
 .image-1:hover{
    transform: scale(1.1);
}
 .image-2:hover{
    transform: scale(1.1);
}
.image-2{
    margin-top: -3%;
}
.abc{
    max-width: 80%!important;
    margin-top: -25%!important;
}
/* DOWNLOAD SECTION ENDS  */

/* SUBSCRIBE INPUT STARTS  */
.subscribe-input{
    border-radius: 0!important;
    border: solid 1px #003460;
    color: #003460;
}
.subscribe-btn{
    background-color: #003460;
}
/* SUBSCRIBE INPUT ENDS  */

/* FOOTER STARTS  */
footer{
    background-color: #003460;
    color: white;
}
footer ul{
    list-style: none;
    margin: 0!important;
    padding: 0!important;
}
.desktop-footer-logo{
    display: none!important;
    
}
.mobile-footer img{
    transition: ease-in-out all 0.3s;
    animation: bounce  2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
footer li{
    font-size: 0.65rem;
}
footer h5{
    font-size: 0.85rem;
}
.bottom-row p{
    font-size: 0.55rem;
    padding: 0 1rem;
}
.bottom-row a{
    color: white;
}
.bottom-terms{
    padding: 0 1rem;
    border-left: solid 1px white;
    border-right: solid 1px white;
}
.footer-icons{
    transition: ease-in-out all 0.3s;
}
.footer-icons:hover{
    transform: scale(1.5);
}
/* FOOTER ENDS  */

/* ANIMATIONS */
@keyframes shake{
    0%{
        transform: rotateX(-10deg);
    }
    25%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(10deg);
    }
    100%{transform: rotateX(0deg);}
}
@keyframes bounce{
    0%{ transform: translateY(0px);}
   
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
