:root{
  --font-primary: Poppins, 'sans serif';
  --colr-white: #FFF;
  --colr-white-light-80: rgb(255, 255, 255, 0.9);
  --color-black: #000;
  --colr-primary: rgb(255, 105, 180);
  --colr-primary-light-20: rgb(244, 228, 239);
  --colr-primary-light-50: rgba(255, 105, 180, 0.5);
  --colr-primary-dark: rgb(255, 5, 130);
}

body{
  font-family:var(--font-primary);
  scroll-behavior: smooth;
}

.hero{
  background: linear-gradient(89.76deg, #FF5130 1.31%, #DF2674 99.87%);
}

.top-header nav {
  background-color: #fff;
}

.lovey-nav-bg{
 background-color : rgb(255, 255, 255, 0.9);
}

.brand-logo{
  max-height: 15px;
  max-width: 15px;
}

.nav-brand-name, .lovey-nav-link{
  color: #EE3A56;
}

.btn-nav-toggle:focus{
  outline: none;
}

.custom-nav-toggler-icon{
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  margin: .5rem  auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.custom-nav-toggler-icon span {
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 0.25rem;
  background: #EE3A56;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.custom-nav-toggler-icon span:nth-child(1) {
  top: 0px;
}

.custom-nav-toggler-icon span:nth-child(2),.custom-nav-toggler-icon span:nth-child(3) {
  top: 8px;
}

.custom-nav-toggler-icon span:nth-child(4) {
  top: 16px;
}

.custom-nav-toggler-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.custom-nav-toggler-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-nav-toggler-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.custom-nav-toggler-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.lovey-btn{
  transition: 0.4s all;
  }
  
  .lovey-btn-primary{
    background-color: #EE3A56;
    color: var(--colr-white);
  }
  
  .lovey-btn-primary:hover{
    background-color: #EE3A56;
    color: #fff;
  }
  
  .lovey-btn:focus{
    outline: 0;
    box-shadow:0 0 0 0.2rem #EE3A56;
  }

  hero{
    height: calc(100% - 58px);
  }