html,
body {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility; 
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.logo1 { display: none;}

#active-home {
    color: #e90505;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e90505;
}

#btn-sign-up,
#btn-learn {
    background-color: #e90505;
    color: #fff;
    border: none;
    outline: none;
    width: 60%;
}

#btn-sign-up:hover,
#btn-learn:hover {
    background-color: #fff;
    color: #e90505;
    box-shadow: 0px 2px 5px hsl(229, 6%, 66%);
}

.bg-main { 
    background-color: #e90505;
    height: 400px;
 }
    


.bg-main2 {
    background-color:#D5D5D5;
    height: 100vh;
    margin-top: 400px;
}


.bg-main3 {
    background-color:#e90505;
}

.welcome-header, 
.welcome-text {  
    animation-name: slideInLeft;
    animation-duration: 2s;
}

.mockup1 { display: none;}
.mockup2 { 
    justify-content: center;
}
.iphone-mockup {
    animation-name: fadeInUp;
    animation-duration: 2s;
}

.vector-section { height: 40vh;}
.vector-container { 
    animation-name: slideInLeft;
    animation-duration: 2s;
}

.vector-text { color: #A5A5A5; }

.bus1 { display: none;}
.bus2 { 
    margin-top: -550px;
    min-width: 100%;
 }
.bus-text1 { z-index: 3;}
.bus-text2 { 
    color: #e90505;
    z-index: 3;
}
.bus-text3 {
    position: relative; 
    z-index: 9999;
    font-size: .95rem;
}


.btn { 
    position: relative;
    background-color: #e90505;
    border-radius: 20px;
    outline: none;
    z-index: 3;
}

.image1 { 
    top: -432px;
    left: 70px;
    width: 82%;
}

.container3 { height: 350px;}

.download-text { display: none;}

.appstore {
    margin-left: -135px;
    width: 150%;
}

.container2 { 
    margin-top: -180px;
    height: 700px;
 }


 .image2 {
    top: 600px;
    height: 100%;
    width: 90%;
    padding-bottom: 150px;
}

.world-wide-section {  
    height: 500px; 
    margin-left: 20px;
}
   
.world-wide-list { display:none;}


 .world-wide-list li {  list-style-type: square; }
   
.image3 { 
    height: 100%;
    width: 90%;
    margin-top: 30px;
} 

.footer-header {
    background-color:  rgba(0, 0, 0, 0.8);
    height: 950px;
 }

 .footer-logo { display: none;}

     
.form-control {
    opacity: 0.7;
    color: #fff;
    background-color: #495057;
    width: 50%;
}

.input-form { margin-left: 60px;}

.footer-img {
    height: 30px;
    cursor: pointer;
}

.copyright {display: none};


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* .bg-main { height: 60vh;}
    .bg-main2 { 
        margin-top: 300px;
        height: 530px;
    }

    .bg-main3 { margin-top: 420px;}

    #btn-sign-up, #btn-learn { width: 30%;}


    .mockup1 { display: none;}

    .mockup2 {  margin-left: 200px!important;}
       
     
    .welcome-header { font-size: 2em;}

    .welcome-text { font-size: 1.3em;}

    .vector-section { height: 10vh; }

    .vector-container { 
        display: contents;
        padding-top: ;
    }
    .vec { margin-left: 0!important;}
    .vector1 { margin-top: 150px;}
    .vector2 { margin-top: 150px;}
    .vector3 { margin-top: 150px;}
    .track-section { display: contents;}
        
    .bus1 {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
        top: -500px;
    }
     
    .bus2 { display: none;}

    .bus-text1 { font-size: 1.8em;}
    .bus-text3 {
        font-size: 1.1rem;
        margin: 5px 0 0 10px;
        font-weight: 300;
        width: 100%;
    }

    .bus-section { height: 550px;}

    .bus-group { display: block;}
     

    .container2 {  
        margin-top: 0;
        top: -250px;
     }

    .image1 {
        top: -325px;
        left: -170px;
        height: 60%;
        width: 150%;
    }

    .image2 {
        height: 60%;
        width: 90%;
    }

    .bus-section { height: 500px; }

    .bus-text4 {
        font-size: 1.8em;
        padding: 10px 0 10px 10px;
    }

    .btn { margin-top: 20px;}

    .appstore { 
        width: 100%;
        margin-top: 2px;
    }

    .googleplay {
        width: 150%;
        margin-left: -100px!important;
    }

    .world-wide-section {
        height: 400px;
        margin-top: 100px;
    }

    .world-wide-list { display:none;}

    .image3 { width: 80%;}

    .container3 { padding: 50px 0;}

    .form-control { width: 100%;}

    .social {
        top: 400px;
        display: flex;
        margin-left: 50px;
    }

    .footer-header { height: 800px;}

    .text-center {
        text-align: left!important;
    }

    .input-form { margin-right: 50px;}
     

    .footer-img { padding: 0 10px;}

    .copyright { 
        font-size: .85em;
        padding-left: 45px!important;
    } */

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .bg-main { height: 50vh;}
    .bg-main2 { height: 412px;}
    .bg-main3 { margin-top: 70px;}
    
    #btn-sign-up, #btn-learn { width: 30%;}


    .mockup1 { display: none;}

    .mockup2 { margin-top: -200px;}
     
    .welcome-header { font-size: 2em;}

    .welcome-text { font-size: 1.3em;}

    .vector-section { height: 10vh; }

    .vector-container { 
        display: flex;
        padding-top: ;
    }

    #vector {
        margin-top: -500px;
    }
        
    .bus1 {
        display: flex;
        height: 58.9%;
        max-height: 57.9%;
        width: 100%;
    }
    .bus2 { display: none;}

    .bus-section { height: 550px;}
     

    .container2 {  margin-top: 0; }

    .image2 {
        top: 60px;
        height: 60%;
        width: 100%;
    }

    .bus-section { height: 400px; }

    .bus-text4 {
        margin-right: -50px;
        margin-left: 50px;
    }

    .appstore { 
        width: 170%;
        margin-top: 3px;
    }

    .world-wide-section {
        height: 400px;
        margin-left: -40px;
        margin-top: 100px;
    }

    .world-wide-list {
        display: block;
        color: red;
    }

    .container3 { padding: 50px 0;}

    .form-control { width: 100%;}

    .social {
        top: 0;
        display: flex;
    }

    .footer-header { height: 500px;}

    .footer-img { padding: 0 10px;}
 }
 

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #btn-sign-up, #btn-learn { 
        width: 120%;
        margin-top: -5px;
    }

    .navbar-light .navbar-nav .nav-link {  padding: 0 30px;}

    .logo1 { display: block;}
    .logo2 { display: none;}

    .bg-main { height: 300px;;}

    .bg-main2 { 
        height: 382px;
        margin-top: 250px;
    }

    .welcome-header { font-size: 2.5em;}

    .welcome-text { font-size: 1.5em;}

    .mockup1{ 
        display: flex;
        margin-top: -150px;
    }

    .mockup2 { display: none;}

    .vector-section {
        height: 40vh;
        margin-left: -35px;
    }

    .container4 { display: flex;}

    .bus1 { 
        height: 112.8%;
        max-height: 57.5%;
        width: 100%;
        margin-top: -47px!important;
    }


    .image1 {
        top: -367px;
        left: 220px;
        height: 380px;
        z-index: 999;
    }   

    .image3 { 
        height: 100%;
        width: 100%;
        margin-left: 100px!important;
    }

    .download-text { display: block;}

    .appstore {
        min-width: 70%;
        max-width: 130%;
        margin-top: 3px;
        margin-left: -20px;
    }

    .googleplay { margin-right: 150px;}

    .world-wide-section {
        height: 400px;
        margin-left: 0;
        margin-top: 100px;
    }

    .world-wide { width: 200%!important;}
    .world-wide-list { width: 200%!important;}

    .input-form { display: block;}

    .social { top: -60px;}

    .footer-img { padding: 0 20px;}

    .footer-header { height: 80vh;}
    
    .footer-container { 
        max-width: 1500px;
        min-width: 900px;
    }

   
    
    .footer-logo { display: block;}

    .copyright {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);;
        }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #btn-sign-up, #btn-learn { 
        width: 120%;
        margin-top: -5px;
    }

    .navbar-light .navbar-nav .nav-link {  padding: 0 30px;}

    .bg-main { height: 50vh;}

    .bg-main2 { 
        height: 429px;
        margin-top: 150px;
    }

    .welcome-header { font-size: 2.5em;}

    .welcome-text { font-size: 1.5em;}

    .mockup1{ 
        display: flex;
        margin-top: -150px;
    }

    .mockup2 { display: none;}

    .vector { width: 200%;}
    .vector1 { margin-top: -139px!important;}
    .vector2 , .vector3 { 
        margin-left: 100px;
        margin-top: -100px;
    }

    .vec2 { margin-left: 80px!important;}
  

    .container4 { display: flex;}

    .bus-section { margin-left: 150px;}
        

    .bus1 { 
        min-height: 57.1%;
        width: 80%;
        margin-top: -47px!important;
        margin-left: 190px;
        max-height: 55.5%;
    }

    

    .tracker { width: 150%;}

    .image1 {
        top: -405px;
        left: 320px;
        height: 427px;
        z-index: 999;
        width: 500px;
    }   
  
    
    .image2 { 
        left: -150px;
        height: 70%;
    }

    .image3 { 
        height: 100%;
        width: 100%;
    }

    .appstore {
        width: 100%;
        height: 90%;
        margin-top: 3px;
        margin-left: -40px;
    }

    .googleplay { margin-right: 210px;}

    .world-wide-section {
        height: 400px;
        margin-left: 0;
        margin-top: 100px;
    }

    .input-form { display: block;}

    .form-control { 
        width: 60%;
        height: 40px;
        margin-left: 110px!important;
    }

    .social { top: -30px;}

    .footer-img { padding: 0 10px;}

    .footer-header { height: 70vh;}


        
 }


