@media only screen and (max-width:576px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-fluid{
    text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
}
body {
  height: 2000px;
}
.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}
.fa-bars {
  color: rgb(184, 179, 179);
  font-size: 30px;
  border: 1px solid gray;
  padding: 5px 13px;
  border-radius: 3px 3px;
}

.navbar ul a{
    color: gray;
}

#flex-center h3{
    text-align: center;
    padding-top: 2rem;
}

#flex-center h5{
    font-size: 1rem;
    text-align: center;
}
.hero-img{
    padding-top: 2rem;
}

.art-image{
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.art-image img{
    width: 100%;
    
}


.block-image{
    margin-top: 2rem;
}

.container-dark{
    background-color: black;
    margin-top: 4rem;
    padding: 2rem;
}

.flex-items{
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-content: center;
    padding-top: 2rem;
}

.sub-items2{
    margin-left: -2rem;
    margin-top: 4rem;
}

.gold-circle{
    width: 150px;
    height: auto;
}

.gold-circle img{
    width: 100%;
}

.rec-19{
    width: 100px;
    height: auto;
    margin-top: -2.5rem;
}

.rec-19 img{
    width: 100%;
}

.rec-20{
    width: 100px;
    height: auto;
}

.rec-20 img{
    width: 100%;
}

.rec-21{
    width: 100px;
    height: auto;
    margin-top: 1rem;
}

.rec-21 img{
    width: 100%;
}

/* display of the various Art on mobile */

.d-flex{
    /* display: flex; */
    flex-direction: column;
}

.d-flex h3, h5{
    text-align: justify;
}


.gallery img{
    width: 270px;
}
.search img{
    width: 270px;
}
.collection img{
    width: 270px;
}
.curato img{
    width: 270px;

}

.curato h5{
    text-align: justify;
}
.carousal{
    background: #D1D0FF;
    margin-top: 3rem;
}

.carousal img{
    width: 100px;
}

}
