@media only screen and (max-width:576px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center
}


@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
}
body {
  height: 2000px;
}
.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}
.fa-bars {
  color: rgb(184, 179, 179);
  font-size: 30px;
  border: 1px solid gray;
  padding: 5px 13px;
  border-radius: 3px 3px;
}

.navbar ul a{
    color: gray;
}

#flex-center h3{
    text-align: center;
    padding-top: 2rem;
}

#flex-center h5{
    font-size: 1rem;
    text-align: center;
}
.hero-img{
    padding-top: 2rem;
}

.art-image{
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.art-image img{
    width: 100%;
    
}


.block-image{
    margin-top: 2rem;
}

.container-dark{
    background-color: black;
    margin-top: 4rem;
    padding: 2rem;
}

.flex-items{
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-content: center;
    padding-top: 2rem;
}

.sub-items2{
    margin-left: -2rem;
    margin-top: 4rem;
}

.gold-circle{
    width: 150px;
    height: auto;
}

.gold-circle img{
    width: 100%;
}

.rec-19{
    width: 100px;
    height: auto;
    margin-top: -2.5rem;
}

.rec-19 img{
    width: 100%;
}

.rec-20{
    width: 100px;
    height: auto;
}

.rec-20 img{
    width: 100%;
}

.rec-21{
    width: 100px;
    height: auto;
    margin-top: 1rem;
}

.rec-21 img{
    width: 100%;
}

/* display of the various Art on mobile */

.d-flex{
    /* display: flex; */
    flex-direction: column;
}

.d-flex h3, h5{
    text-align: justify;
}


.gallery img{
    width: 270px;
}
.search img{
    width: 270px;
}
.collection img{
    width: 270px;
}
.curato img{
    width: 270px;

}

.curato h5{
    text-align: justify;
}
.carousal{
    background: #D1D0FF;
    margin-top: 3rem;
    
}

.carousal img{
    width: 100px;
}

.carousal h3{
    padding-top: 3rem;
}

.carousal h5{
    text-align: justify;
    font-size: 1rem;
}


span img{
    width: 25px;

}

.sub-carousal{
    display: flex;
    align-content: center;
    justify-content: center;
}

.sub-carousal img{
    width: 50px;
}

figure.figimg{
    width: 100px;
}

figcaption{
    
}
.plain-text h5{
    text-align: center;
    font-size: 15px;
}

.plain-text h3{
    font-weight: Medium;
    font-size: 35.06px;
    line-height: 43px;
    padding-top: 3rem;
}

.plain-text a{
    color: #870058;
}

.inner-flex{
    display: flex;
    justify-content: space-around;
    text-align: justify;
    margin: 1.4rem 1.4rem;
    padding-top: 3rem;
}

.inner-flex a{
    font-size: 14px;
    line-height: 36px;
    color: gray;
}

.footers{
    background: #FAFAFA;
}

.footers h6{
    text-align: justify;
    margin-left: 1.2rem ;
    padding-top: 2rem;
    line-height: 32px;
}

.footers h5{
    font-size: 17px;
    margin-left: 1.3rem;
    line-height: 32px;
}

.hero-svg{
    padding-top: 3rem;
}

.social-icons{
    border-bottom: 1px solid #3A3B3C;
    margin: 0 1.4rem;
}

.social-icons img {
    padding: 1rem;
}

.footer-links{
    padding-bottom: 2rem;
}

.footer-links a{
    padding-top: 1.5rem;
    padding: 1rem;
    font-size: 15px;
    color: #3A3B3C;
}

}
